@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap");

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.list-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px 0 20px;
  margin: 20px;
  /* background-color: rgb(234, 234, 234); */
  overflow-y: auto;
  overflow-x: hidden;
}

/* 스크롤바 스타일 설정 */
.list-container::-webkit-scrollbar {
  width: 8px; /*스크롤바 너비*/
  height: 8px; /*스크롤바 높이*/
}

.list-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* 스크롤바 색상 */
  border-radius: 4px;
}

.list-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
  border-radius: 4px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  margin: 5px 0;
  text-align: left;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
}

.post-list:last-child {
  border-bottom: none;
}

.post-list div {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.title-post-name_time {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.post-name {
  display: flex;
  align-items: center;
  gap: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 14px;
  color: gray;
}

.profile_img {
  width: 20px;
  border-radius: 50px;
}

.post-title-box {
  padding-bottom: 10px;
}

.post-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}

.post-name:hover,
.post-title:hover {
  color: rgb(0, 115, 255);
}

/* .post-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 16px;
} */

.post-time {
  font-size: 12px;
  color: grey;
}

.post-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-tag {
  margin: 10px 5px 0px 0px;
  color: grey;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.post-tag:hover {
  color: rgb(0, 115, 255);
}
/* ------------------------------------- */
.no-post {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-post a {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}

.no-post a:hover {
  transform: scale(1.2);
  color: yellow;
  text-decoration: underline yellow;
}

/* ---------------------------------------------------- */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .list-container {
    width: 80%;
  }
  .post-title {
    font-size: 18px;
    padding-bottom: 8px;
  }

  .post-content {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .post-time {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .list-container {
    width: 90%;
  }
  .post-title {
    font-size: 16px;
    padding-bottom: 8px;
  }

  .post-content {
    font-size: 12px;
    padding-bottom: 8px;
  }

  .post-time {
    font-size: 8px;
  }
  .post-list {
    height: 14%;
  }
}
