@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap");

.nanumGothicCodingRegular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.listBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.myListContainer {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

/* 스크롤바 스타일 설정 */
.myListContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.myListContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.myListContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.myPostList {
  width: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
}

.myPostList a {
  text-decoration: none;
  color: white;
}

.myTitleTime {
  display: flex;
  justify-content: space-between;
}

.myPostTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 20px;
}

.myPostContent {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 16px;
}

.myPostTime {
  font-size: 12px;
  color: grey;
}

.myPostTime:hover {
  color: white;
}

.myPostTags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.myPostTag {
  margin: 0px 5px 0px 0px;
  padding: 5px;
  border-radius: 50px;
  background-color: grey;
  color: white;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.myPostTag:hover {
  background-color: black;
  color: white;
}

.myNoPost {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myNoPost a {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}

.myNoPost a:hover {
  transform: scale(1.2);
  color: yellow;
  text-decoration: underline yellow;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.editBtn a {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
}

.editBtn button {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  border-radius: 5px;
  border: none;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  transition: all 0.3s;
}

.editBtn a:hover,
.editBtn button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* 미디어 쿼리 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .myListContainer {
    width: 80%;
  }
  .myPostTitle {
    font-size: 18px;
    padding-bottom: 8px;
  }

  .myPostContent {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .myPostTime {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .myListContainer {
    width: 90%;
  }
  .myPostTitle {
    font-size: 16px;
    padding-bottom: 8px;
  }

  .myPostContent {
    font-size: 12px;
    padding-bottom: 8px;
  }

  .myPostTime {
    font-size: 8px;
  }

  .myPostList {
    height: 14%;
  }

  .editBtn {
    gap: 10px;
    margin-top: 5px;
  }

  .editBtn a {
    width: 50%;
    padding: 3.5px;
    font-size: 12px;
  }

  .editBtn button {
    width: 50%;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .editBtn {
    gap: 10px;
    margin-top: 3px;
  }

  .editBtn a {
    width: 50%;
    padding: 2.5px;
    font-size: 9px;
  }

  .editBtn button {
    width: 50%;
    padding: 1px;
    border-radius: 5px;
    font-size: 9px;
  }
}
