@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap");

.nanumGothicCodingRegular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.listBackground {
  background-color: rgb(248, 255, 255);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myListContainer {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

/* 스크롤바 스타일 설정 */
.myListContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.myListContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.myListContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.myPostList {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 0 0 20px 0;
  border: 0.5px solid lightgray;
  box-sizing: border-box;
  text-align: left;
  font-weight: 600;
  transition: all 0.3s;
  box-shadow: 5px 1px 10px 1px rgba(203, 203, 203, 0.399);
}

.myPostList:hover {
  transform: translateY(-10px);
  box-shadow: 1px 1px 10px 1px rgba(203, 203, 203, 0.599);
}

.myPostList div {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.my_title_post_name {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.my_post_name {
  display: flex;
  align-items: center;
  gap: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 20px;
  font-size: 14px;
  color: rgb(90, 90, 90);
  margin-top: 20px;
}

.my_profile_img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.my_post_title_box {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.my_post_img_container {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.my_post_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.my_post_footer {
  border-top: 1px solid lightgray;
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  bottom: 0;
  padding: 0 20px;
}

.my_post_title {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.my_post_content {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: grey;
  padding: 0 20px 5px 20px;
}

.my_post_name:hover,
.my_post_title:hover,
.my_post_content:hover {
  color: rgb(0, 115, 255);
}

.my_post_time {
  font-size: 12px;
  color: grey;
}

.my_post_tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
}

.my_post_tag {
  margin: 0px 5px 0px 0px;
  color: grey;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
}

.my_post_tag:hover {
  color: rgb(0, 115, 255);
}

.myNoPost {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myNoPost a {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}

.myNoPost a:hover {
  transform: scale(1.2);
  color: yellow;
  text-decoration: underline yellow;
}

.my_editBtn {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px;
  color: white;
  text-align: center;
}

.my_editBtn a {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
}

.my_editBtn button {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  padding: 3px;
  border-radius: 5px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  transition: all 0.3s;
}

.my_editBtn a:hover {
  background-color: rgb(0, 115, 255);
  color: white;
}

.my_editBtn button:hover {
  background-color: red;
  color: white;
}

.my_myNoPost {
  font-size: 20px;
  font-weight: 900;
}

@media (max-width: 1055px) {
  .myListContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 765px) {
  .myListContainer {
    grid-template-columns: 1fr;
  }
}
