@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.list-background {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.my-list-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

/* 스크롤바 스타일 설정 */
.my-list-container::-webkit-scrollbar {
  width: 8px; /*스크롤바 너비*/
  height: 8px; /*스크롤바 높이*/
}

.my-list-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* 스크롤바 색상 */
  border-radius: 4px;
}

.my-list-container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* 스크롤바 트랙 색상 */
  border-radius: 4px;
}

.my-post-list {
  width: 100%;
  /* height: 18%; */
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-family: "Jua";
}

.my-post-list a {
  text-decoration: none;
  color: white;
}

.my-title-time {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.my-post-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 20px;
}

.my-post-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  font-size: 16px;
}

.my-post-time {
  font-size: 12px;
  color: grey;
}

.my-post-time:hover {
  color: white;
}

.my-post-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.my-post-tag {
  margin: 0px 5px 0px 0px;
  padding: 5px;
  border-radius: 50px;
  background-color: grey;
  color: white;
  font-family: "Jua";
  font-size: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.my-post-tag:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
/* ------------------------------------- */
.my-no-post {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-no-post a {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.3s;
}

.my-no-post a:hover {
  transform: scale(1.2);
  color: yellow;
  text-decoration: underline yellow;
}
/* ------------------------------------- */
.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.edit-btn a {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s;
}

.edit-btn button {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  border-radius: 5px;
  border: none;
  font-family: "Jua";
  font-size: 16px;
  transition: all 0.3s;
}

.edit-btn a:hover,
.edit-btn button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* ---------------------------------------------------- */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .my-list-container {
    width: 80%;
  }
  .my-post-title {
    font-size: 18px;
    padding-bottom: 8px;
  }

  .my-post-content {
    font-size: 14px;
    padding-bottom: 8px;
  }

  .my-post-time {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  .my-list-container {
    width: 90%;
  }
  .my-post-title {
    font-size: 16px;
    padding-bottom: 8px;
  }

  .my-post-content {
    font-size: 12px;
    padding-bottom: 8px;
  }

  .my-post-time {
    font-size: 8px;
  }
  .my-post-list {
    height: 14%;
  }
}
