@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.editPostWrite {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.editPostWrite p {
  color: black;
  margin: 20px;
  font-size: 32px;
  font-family: "Jua";
}

.editPostForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editPostForm input::placeholder,
.editPostForm textarea::placeholder,
.editTagsInput input::placeholder {
  color: grey;
  font-size: 14px;
  font-family: "Jua";
}

.editTitleInput {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: "Jua";
  font-size: 20px;
}

.editContentInput {
  padding: 20px;
  height: 400px;
  resize: none;
  overflow-y: auto;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Jua";
}

/* 스크롤바 스타일 설정 */
.editContentInput::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.editContentInput::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.editContentInput::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.editTagsInput {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.editTag {
  display: flex;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: "Jua";
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
}

/* 스크롤바 스타일 설정 */
.editTagsInput::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.editTagsInput::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.editTagsInput::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.editTextTag {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: "Jua";
  font-size: 13px;
}

.editContainerImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.editImagePreview {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  min-height: 60%;
}

.editImgDeleteBtn {
  padding: 5px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 16px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(255, 0, 0);
}

.btnUpload {
  padding: 10px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 20px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 20px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  transition: all 0.3s;
}

.submitBtn:hover {
  background-color: rgb(0, 115, 255);
  color: white;
}

.imgInputNone {
  display: none;
}
