.detail-background-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-container {
  padding: 20px;
  width: 70%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: rgb(0, 0, 0);
}

.profile-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-title {
  margin: 50px 0;
  font-size: 36px;
  font-weight: bold;
}

.detail-content {
  margin: 10px 0;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

.profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.detail-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.detail-tag {
  margin: 0px 5px 0px 0px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: grey;
  color: white;
  font-family: "Jua";
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.detail-tag:hover {
  background-color: black;
  color: white;
}

.back-btn {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.detail-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}
