.detail-background-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-container {
  padding: 20px;
  width: 70%;
  min-height: calc(100vh - 10vh);
  color: rgb(0, 0, 0);
}

.profile-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-title {
  margin: 50px 0;
  line-height: 40px;
  font-size: 1.875rem;
  font-weight: bold;
}

.detail-content {
  line-height: 40px;
  font-family: "Pretendard, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
  margin: 10px 0;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

.profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.detail-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

.detail-tag {
  margin: 0px 5px 0px 0px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: rgb(234, 234, 234);
  color: rgb(80, 80, 80);
  font-family: "Jua";
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.3s;
}

.detail-tag:hover {
  color: rgb(0, 157, 255);
}

.back-btn {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.detail-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .detail-container {
    padding: 20px;
    width: 90%;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .detail-container {
    padding: 20px;
    width: 95%;
    height: 100%;
  }
}
