.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 -1px 8px -2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 100;
}

.footerItems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footerItems a {
  padding: 0 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footerItems a:hover {
  color: rgb(0, 115, 255);
}

@media only screen and (min-width: 720px) {
  .footer {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    font-size: 11px;
  }
}

@media only screen and (max-width: 400px) {
  .footerItems a p {
    display: none;
  }
}
