.logInOutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 35px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  padding: 8px 10px;
  border-radius: 60px;
  border: none;
  transition: all 0.25s;
}

.logInOutBtn:hover {
  background-color: rgb(0, 115, 255);
}

.icon {
  display: none;
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .logInOutBtn {
    width: 50px;
    height: 30px;
    font-size: 0px;
  }
  .icon {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .logInOutBtn {
    width: 50px;
    height: 30px;
    font-size: 0px;
  }
  .icon {
    display: block;
  }
}
