.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 8vh;
  padding: 15px 40px;
  background-color: white;
  font-size: 13px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  z-index: 100;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu_line {
  width: 1px;
  background-color: grey;
}

.logo_img {
  margin-right: 50px;
}

.logo_img img {
  height: 4vh;
}

.menu_items {
  display: flex;
}

.menu_items a {
  padding: 0 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu_items a:hover {
  color: rgb(0, 115, 255);
}

.login_section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  border: 1.5px solid rgb(101, 101, 101);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  /* width: 6.1%; */
  /* 36.77 */
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .Navbar {
    font-size: 12px;
  }
  .__IoLogInOutline__ {
    display: block;
  }
}

@media only screen and (max-width: 720px) {
  .menu_items {
    display: none;
  }
  .logo_img {
    display: block;
  }
}
