@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Noto+Sans+KR:wght@100..900&display=swap");

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 8vh;
  padding: 10px 40px;
  background-color: white;
  font-size: 13px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 600;
  font-style: normal;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-line {
  width: 1px;
  background-color: grey;
}

.logo-img {
  margin-right: 50px;
}

.logo-img img {
  height: 4vh;
}

.menu-items {
  display: flex;
}

.menu-items a {
  padding: 0 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu-items a:hover {
  color: rgb(0, 115, 255);
}

.login-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile {
  border: 1.5px solid rgb(101, 101, 101);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  /* width: 6.1%; */
  /* 36.77 */
}

.__register-btn__ {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 35px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10px;
  padding: 8px 10px;
  border-radius: 60px;
  border: none;
  transition: all 0.25s;
  text-decoration: none;
}

.__register-btn__:hover {
  background-color: rgb(0, 115, 255);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Navbar {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .Navbar {
    font-size: 12px;
  }
  .Navbar a {
    font-size: 18px;
  }
  .Navbar a p {
    display: none;
  }
  .__register-btn__ {
    text-align: center;
    width: 5%;
    font-size: 14px;
  }
}
