@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.juaRegular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.communityContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postWrite {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: white;
}

.postWrite p {
  color: black;
  margin: 20px;
  font-size: 32px;
  font-family: "Jua";
}

.postForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.postForm input::placeholder,
.postForm textarea::placeholder,
.tagsInput input::placeholder {
  color: grey;
  font-size: 14px;
  font-family: "Jua";
}

.titleInput {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: "Jua";
  font-size: 20px;
}

.postForm textarea {
  padding: 20px;
  height: 400px;
  resize: none;
  overflow-y: auto;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-family: "Jua";
}

.contentInput::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.contentInput::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.contentInput::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.tagsInput {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.tag {
  display: flex;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: "Jua";
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
}

.tagsInput::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tagsInput::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.tagsInput::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.textTag {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
  font-family: "Jua";
  font-size: 13px;
}

.containerImage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.imagePreview {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  min-height: 60%;
}

.imgDeleteBtn {
  padding: 5px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 16px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(255, 0, 0);
}

.btnUpload {
  padding: 10px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 20px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}

.submitBtn {
  width: 48%;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 20px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  transition: all 0.3s;
}

.deleteBtn {
  width: 48%;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Jua";
  font-size: 20px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(240, 240, 240);
  color: rgb(0, 115, 255);
  transition: all 0.3s;
}

.submitBtn:hover {
  background-color: rgb(0, 115, 255);
  color: white;
}

.deleteBtn:hover {
  background-color: red;
  color: white;
}

/* #file {
  display: none;
} */

.imgInputNone {
  display: none;
}
